::-webkit-scrollbar {
    display: none;
  }
  @font-face {
    font-family: "jua";
    src: url("../FONT/BMJUA_otf.otf");
  }

  
@media (min-width:0px) {

        /* 모든 요소 여백 초기화*/
    * {
        padding: 0px;
        margin: 0px;
    }
    a {
        text-decoration: none;
    }

    /* 공통 속성 적용*/
    body {
        font-family: "jua";
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: #ffe4af;
        /*메뉴 상단바 고정 설정*/
        position: relative;
        margin-top: 100px;
    }

    /* nabar 속성 설정 */
    .navbar {
        height: 100px;
        line-height: 60px;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 0px;
        /*메뉴 상단바 고정 설정*/
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    /* a 태그 속성 설정*/
    .navbar a {
        color: black;
        font-weight: bold;
        /* font-size: 100%; */
        font-size: 16px;
    }

    /* nabar 자식 버튼 속성 설정*/
    .navbar button{
        border: 0 solid black;
        padding: 0px;
        width: 20%;
        height: 100%;
        float: left;
    }

    /* nabar 자식 개별 버튼 속성 설정*/
    #btn_1 {
        background-color: #ffd0a6;
    }

    #btn_2 {
        background-color: #f5c194;
    }

    #btn_3 {
        background-color: #f7b881;
    }

    #btn_4 {
        background-color: #f8b173;
    }

    #btn_5 {
        background-color: #fdad67;
    }

    /* navbar 자식 개별 추가 속성 설정*/
    #btn_1:hover {
        background-color: #fdad67;
    }

    #btn_2:hover {
        background-color: #f8b173;
    }

    #btn_3:hover {
        background-color: #f7b881;
    }

    #btn_4:hover {
        background-color: #f5c194;
    }

    #btn_5:hover {
        background-color: #ffd0a6;
    }

    /*footer 설정*/
    footer {
        background-color: #e9ab70;
        height: 150px;
    }

    footer a img {
        margin: 20px;
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    /* home body main img */
    #home_main_img {
        background-image: url("../Image/Home/body_img/home_main.jpg");
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 850px;
    }

    /*공지사항 레이아웃*/
    .notice {
        /* padding-top: 60px; */
        height: 100%;
        display: inline-block;
        text-align: center;
        width: 350px;
        padding-bottom: 60px;
        /* position: relative; 상단 바 고정으로 Off*/
    }

    #notice_space_1, #notice_space_2, #notice_space_3,#notice_space_4,#notice_space_5,#notice_space_6,#notice_space_7,#notice_space_8 {
        margin-top: 60px;
        width: 300px;
        height: 300px;
        float: left;
        border-radius: 20px;
        background-color: rgba(247, 80, 51,0.6);
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
    }

    /*공지사항 제목 */
    .notice_title {
        background-color: seagreen;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .notice_title h1{
        font-size: 26px;
    }

    /* 공지사항 내용*/
    .notice_content_list {
        height: 200px;
        margin-top: 20px;
        overflow-y: auto;
        text-decoration: underline;
    }

    .notice_content_list li {
        list-style: none;
        margin-bottom: 20px;
        font-size: 18px;
    } 

    .notice_content_list li img {
        width: 35%;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* 친선리그 설정 */
    .legue_record_img {
        margin-left: 5px;
        margin-right: 5px;
        /* background-position: center center; */
        background-size: cover;
    }

    #eunha_1 {
        background-image: url("../Image/League_image/eunha_league.png");
        height: 160px;
    }

    #eunha_2 {
        background-image: url("../Image/League_image/eunha_league_2.png");
        height: 200px;
    }

    /* 토너먼트 설정 */
    .tournament_record_img_w_1 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_토너먼트대진표.png");
        background-position: center center;
        background-size: cover;
        height: 150px;
    }
    .tournament_record_img_w_2 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor2.png");
        background-position: center center;
        background-size: cover;
        height: 150px;
    }
    .tournament_record_img_w_3 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor4.png");
        /* background-position: center center; */
        background-size: cover;
        height: 250px;
    }

    /* 공지사항 상단 올리기 버튼 */
    .toTOP_NOTICE {
        /* margin-top: 5px;
        margin-right: 3px; */
        position: absolute;
        padding: 10px;
        right: 10px;
        /* right: -40px; 상단 바 고정으로 Off*/
        bottom: 6%; /* 상단 바 고정으로 상대 값 설정*/
        font-size: 16px;
        border-radius: 20px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 상단 올리기 버튼 */
    .toTOP_MAP {
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px;
        float: right;
        font-size: 16px;
        border-radius: 10px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 선택자 */

    .map_selector {
        margin-top: 240px;
        width: 90%;
        height: 300px;
        margin-bottom: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .map_selector a {
        border-radius: 5px;
        font-size: 16px;
        background-color: seagreen;
        color: white;
        margin: 10px;
        padding: 5px;
        float:left;
        /* opacity: 0.6; */
    }

    .map_selector a:hover {
        background-color: rgba(247, 80, 51);
        opacity: 1;
        font-size: 16px;
    }

    /*맵 공통 설정 */

    .map_title {
        font-size: 26px;
        background-color: seagreen;
        font-weight: bold;
    }

    .map_record {
        margin-top: 20px;
        font-size: 20px;
    }

    .map_info_link {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map_info_link a {
        border-radius: 10px;
        font-size: 20px;
        color: black;
        background-color: chocolate;
    }

    .map_info_link a:hover {
        background-color: coral;
    }

    /*맵별 설정*/
    .map_img_fighting_split {
        background-image: url("../Image/Map/fighting.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_polipoid {
        background-image: url("../Image/Map/polipoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_largo {
        background-image: url("../Image/Map/largo.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_accention {
        background-image: url("../Image/Map/accention.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }
    
    .map_img_rivolver {
        background-image: url("../Image/Map/rivolver.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_eclipse {
        background-image: url("../Image/Map/eclipse.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_goodnight {
        background-image: url("../Image/Map/goodnight.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_butter {
        background-image: url("../Image/Map/butter.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_allegro {
        background-image: url("../Image/Map/allegro.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_vermee {
        background-image: url("../Image/Map/vermee.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_Neo_arkanoid {
        background-image: url("../Image/Map/Neo_arkanoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_odyssey {
        background-image: url("../Image/Map/odyssey.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_nemesis {
        background-image: url("../Image/Map/nemesis.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_fallOut {
        background-image: url("../Image/Map/fallOut.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_frost {
        background-image: url("../Image/Map/frost.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_cirkitBraker {
        background-image: url("../Image/Map/cirkitBraker.jpeg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    /* 개인 전적 메인 설정*/
    .Psersonal_Record_list {
        margin-top: 80px;
        margin-bottom: 60px;
        height: 100%;
    }

    .Psersonal_Record_list button {
        width: 80px;
        height: 80px;
        border-radius: 120px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: seagreen;
        border: 0px;
        /* opacity: 0.6; */
    }

    .Psersonal_Record_list button:hover {
        background-color: rgba(247, 80, 51);
        box-shadow: -2px 2px 10px 10px mediumspringgreen;
    }

    .Psersonal_Record_list button a {
        color: black;
    }

    .Psersonal_Record_list button a:hover {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    /* 개인별 전적 설정*/
    .Personal_Record_title {
        border: 0px solid black;
        background-color: seagreen;
        padding: 10px;
        height: 93px;
        overflow-y: auto;
    }

    .Personal_Record_title h1 {
        font-size: 28px;
    }

     .star_grade {
        width: 200px;
    }
    
     .season_tropy {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .Personal_Record_User_Video iframe {
        width: 100%;
        height: 200px;
    }

    .map_record_info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 100px;
        width: 200px;
        font-size: 20px;
    }

    .map_record_info h3 {
        font-size: 20px;
    }
   
    .map_record_info ul ol {
        overflow-y: scroll;
        -ms-overflow-style: none;
        height: 170px;
    }
    .map_record_info ul ol li {
        list-style: none;
        margin-top: 20px;
        font-weight: bold;
    }
    
    .map_boxing {
        margin: 1px;
        color: white;
    }

    /*리그 다시보기 설정 */
    #list .league_list .League_schedule_title {
        height: 30px;
        width: 100%;
        background-color: seagreen;
        margin-bottom: 20px;
        line-height: 30px;
    }

    #list .league_list .League_schedule_title h1{
        font-size: 30px;
        
    }

    #list .league_list .League_view a{
        text-decoration: none;
        color: black;
    }

    #list .league_list .League_view a h2{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #list .league_list .League_view .User_video iframe{
        width: 80%;
        height: 200px;
    }



@media (min-width:767px) {

    /*네비게이션 글자 크기 조절*/
    .navbar a {
        color: black;
        font-weight: bold;
        /* font-size: 100%; */
        font-size: 20px;
    }
    
    /* home body main img */
    #home_main_img {
        background-image: url("../Image/Home/body_img/home_main.jpg");
        background-position: center top;
        background-size: cover;
    }

    /*공지사항 레이아웃*/
    .notice {
        height: 740px;
        display: inline-block;
        text-align: center;
        width: 680px;
        height: 100%;
    }

    #notice_space_1, #notice_space_2, #notice_space_3,#notice_space_4,#notice_space_5,#notice_space_6,#notice_space_7,#notice_space_8 {
        margin-top: 60px;
        width: 300px;
        height: 280px;
        float: left;
        border-radius: 20px;
        background-color: rgba(247, 80, 51,0.6);
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
    }

    /*공지사항 제목 */
    .notice_title {
        background-color: seagreen;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .notice_title h1{
        font-size: 28px;
    }

    /* 공지사항 내용*/
    .notice_content_list {
        height: 200px;
        margin-top: 20px;
        overflow-y: auto;
        text-decoration: underline;
    }

    .notice_content_list li {
        list-style: none;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .notice_content_list li img {
        width: 35%;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* 친선리그 설정 */
    .legue_record_img {
        margin-left: 5px;
        margin-right: 5px;
        /* background-position: center center; */
        background-size: cover;
    }

    #eunha_1 {
        background-image: url("../Image/League_image/eunha_league.png");
        height: 160px;
    }

    #eunha_2 {
        background-image: url("../Image/League_image/eunha_league_2.png");
        height: 200px;
    }


    /* 토너먼트 설정 */
    .tournament_record_img_w_1 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_토너먼트대진표.png");
        background-position: center center;
        background-size: cover;
        height: 150px;
    }
    .tournament_record_img_w_2 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor2.png");
        background-position: center center;
        background-size: cover;
        height: 150px;
    }
    .tournament_record_img_w_3 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor4.png");
        /* background-position: center center; */
        background-size: cover;
        height: 200px;
    }

    /* 공지사항 상단 올리기 버튼 */
    .toTOP_NOTICE {
        margin-top: 7px;
        margin-right: 5px;
        position: absolute;
        padding: 10px;
        /* right: -40px;  상단 바 고정으로 Off*/
        bottom: 10%; /*상단 바 고정으로 설정 변경 상대값*/
        font-size: 16px;
        border-radius: 20px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 상단 올리기 버튼 */
    .toTOP_MAP {
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px;
        float: right;
        font-size: 16px;
        border-radius: 10px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 선택자 */

    .map_selector {
        margin-top: 240px;
        width: 90%;
        height: 300px;
        margin-bottom: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .map_selector a {
        border-radius: 5px;
        font-size: 20px;
        background-color: seagreen;
        color: white;
        margin: 10px;
        padding: 5px;
        float:left
    }

    .map_selector a:hover {
        background-color: rgba(247, 80, 51);
        opacity: 1;
        font-size: 20px;
    }

    

    /*맵 공통 설정 */

    .map_title {
        font-size: 32px;
        background-color: seagreen;
        font-weight: bold;
    }

    .map_record {
        margin-top: 20px;
        font-size: 20px;
    }

    .map_info_link {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map_info_link a {
        border-radius: 10px;
        font-size: 24px;
        color: black;
        background-color: chocolate;
    }

    .map_info_link a:hover {
        background-color: coral;
    }

    /*맵별 설정*/
    .map_img_fighting_split {
        background-image: url("../Image/Map/fighting.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_polipoid {
        background-image: url("../Image/Map/polipoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_largo {
        background-image: url("../Image/Map/largo.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_accention {
        background-image: url("../Image/Map/accention.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }
    
    .map_img_rivolver {
        background-image: url("../Image/Map/rivolver.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_eclipse {
        background-image: url("../Image/Map/eclipse.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_goodnight {
        background-image: url("../Image/Map/goodnight.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_butter {
        background-image: url("../Image/Map/butter.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_allegro {
        background-image: url("../Image/Map/allegro.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_vermee {
        background-image: url("../Image/Map/vermee.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_Neo_arkanoid {
        background-image: url("../Image/Map/Neo_arkanoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_odyssey {
        background-image: url("../Image/Map/odyssey.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_nemesis {
        background-image: url("../Image/Map/nemesis.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_fallOut {
        background-image: url("../Image/Map/fallOut.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_frost {
        background-image: url("../Image/Map/frost.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    /* 개인 전적 메인 설정*/
    .Psersonal_Record_list {
        margin-top: 80px;
        margin-bottom: 60px;
        height: 100%;
    }

    .Psersonal_Record_list button {
        width: 80px;
        height: 80px;
        border-radius: 120px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: seagreen;
        border: 0px;
        /* opacity: 0.6; */
    }

    .Psersonal_Record_list button:hover {
        background-color: rgba(247, 80, 51);
        box-shadow: -2px 2px 10px 10px mediumspringgreen;
    }

    .Psersonal_Record_list button a {
        color: black;
    }

    .Psersonal_Record_list button a:hover {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    /* 개인별 전적 설정*/
    .Personal_Record_title {
        border: 0px solid black;
        background-color: seagreen;
        padding: 10px;
        height: 100px;
    }

    .Personal_Record_title h1 {
        font-size: 34px;
    }

    .Personal_Record_title img {
        width: 250px;
    }

    .Personal_Record_User_Video iframe {
        width: 100%;
        height: 400px;
    }
    .map_record_info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 100px;
        width: 200px;
        font-size: 20px;
    }
    
    .map_record_info h3 {
        font-size: 20px;
    }

    .map_record_info ul ol {
        overflow-y: scroll;
        -ms-overflow-style: none;
        height: 170px;
    }
    .map_record_info ul ol li {
        list-style: none;
        margin-top: 20px;
        font-weight: bold;
    }
    .map_boxing {
        float: left;
        width: 33%;
    }

    .map_boxing .map_record_info {
        padding: 25px;
    }

    .map_boxing .map_record_info h3 {
        margin-top: 100px;
    }

    .league_depense_box {
        height: 1327px;
    }

    /*리그 다시보기 설정 */
    #list .league_list .League_schedule_title {
        height: 30px;
        width: 100%;
        background-color: seagreen;
        margin-bottom: 20px;
    }

    #list .league_list .League_view a{
        text-decoration: none;
        color: black;
    }

    #list .league_list .League_view a h2{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #list .league_list .League_view .User_video iframe{
        width: 80%;
        height: 300px;
    }

@media (min-width:991px) {

    /*네비게이션 글자 크기 조절*/
    .navbar a {
        color: black;
        font-weight: bold;
        /* font-size: 100%; */
        font-size: 24px;
    }

    /* home body main img */
    #home_main_img {
        background-image: url("../Image/Home/body_img/home_main.jpg");
        background-position: center top;
        background-size: cover;
        height: 850px;
    }

    /*공지사항 레이아웃*/
    .notice {
        height: 740px;
        display: inline-block;
        text-align: center;
        width: 800px;
        height: 100%;
    }

    #notice_space_1, #notice_space_2, #notice_space_3,#notice_space_4,#notice_space_5,#notice_space_6,#notice_space_7,#notice_space_8 {
        margin-top: 60px;
        width: 360px;
        height: 280px;
        float: left;
        border-radius: 20px;
        background-color: rgb(247, 80, 51,0.6);
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
    }

    /*공지사항 제목 */
    .notice_title {
        background-color: seagreen;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .notice_title h1{
        font-size: 30px;
    }

    /* 공지사항 내용*/
    .notice_content_list {
        height: 200px;
        margin-top: 20px;
        overflow-y: auto;
        text-decoration: underline;
    }

    .notice_content_list li {
        list-style: none;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .notice_content_list li img {
        width: 35%;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* 친선리그 설정 */
    .legue_record_img {
        margin-left: 5px;
        margin-right: 5px;
        /* background-position: center center; */
        background-size: cover;
    }

    #eunha_1 {
        background-image: url("../Image/League_image/eunha_league.png");
        height: 190px;
    }

    #eunha_2 {
        background-image: url("../Image/League_image/eunha_league_2.png");
        height: 240px;
    }


    /* 토너먼트 설정 */
    .tournament_record_img_w_1 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_토너먼트대진표.png");
        background-position: center center;
        background-size: cover;
        height: 200px;
    }
    .tournament_record_img_w_2 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor2.png");
        background-position: center center;
        background-size: cover;
        height: 200px;
    }
    .tournament_record_img_w_3 {
        margin-left: 5px;
        margin-right: 5px;
        background-image: url("../Image/Tournament_image/W_tor4.png");
        background-position: center center;
        background-size: cover;
        height: 250px;
    }

    /* 공지사항 상단 올리기 버튼 */
    .toTOP_NOTICE {
        margin-top: 7px;
        margin-right: 5px;
        position: absolute;
        padding: 10px;
        /* right: -40px;  상단 바 고정으로 설정 Off*/
        bottom: 10%; /*상단 바 고정으로 설정 변경 상대값*/
        font-size: 16px;
        border-radius: 20px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 상단 올리기 버튼 */
    .toTOP_MAP {
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px;
        float: right;
        font-size: 20px;
        border-radius: 10px;
        color: black;
        background-color: #f5c194;
    }

    /* 맵 선택자 */

    .map_selector {
        margin-top: 240px;
        width: 90%;
        height: 300px;
        margin-bottom: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .map_selector a {
        border-radius: 5px;
        font-size: 24px;
        background-color: seagreen;
        color: white;
        margin: 10px;
        padding: 5px;
        float:left
    }

    .map_selector a:hover {
        background-color: rgba(247, 80, 51);
        opacity: 1;
        font-size: 24px;
    }

    /*맵 공통 설정 */

    .map_title {
        font-size: 38px;
        background-color: seagreen;
        font-weight: bold;
    }

    .map_record {
        margin-top: 20px;
        font-size: 20px;
    }

    .map_info_link {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map_info_link a {
        border-radius: 10px;
        font-size: 28px;
        color: black;
        background-color: chocolate;
    }

    .map_info_link a:hover {
        background-color: coral;
    }

    /*맵별 설정*/
    .map_img_fighting_split {
        background-image: url("../Image/Map/fighting.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_polipoid {
        background-image: url("../Image/Map/polipoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_largo {
        background-image: url("../Image/Map/largo.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_accention {
        background-image: url("../Image/Map/accention.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }
    
    .map_img_rivolver {
        background-image: url("../Image/Map/rivolver.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_eclipse {
        background-image: url("../Image/Map/eclipse.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_goodnight {
        background-image: url("../Image/Map/goodnight.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_butter {
        background-image: url("../Image/Map/butter.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_allegro {
        background-image: url("../Image/Map/allegro.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_vermee {
        background-image: url("../Image/Map/vermee.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_Neo_arkanoid {
        background-image: url("../Image/Map/Neo_arkanoid.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_odyssey {
        background-image: url("../Image/Map/odyssey.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_nemesis {
        background-image: url("../Image/Map/nemesis.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_fallOut {
        background-image: url("../Image/Map/fallOut.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    .map_img_frost {
        background-image: url("../Image/Map/frost.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    
    /* 개인 전적 메인 설정*/
    .Psersonal_Record_list {
        margin-top: 60px;
        margin-bottom: 60px;
        height: 100%;
    }

    .Psersonal_Record_list button {
        width: 80px;
        height: 80px;
        border-radius: 120px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: seagreen;
        border: 0px;
        /* opacity: 0.6; */
    }

    .Psersonal_Record_list button:hover {
        background-color: rgba(247, 80, 51);
        box-shadow: -2px 2px 10px 10px mediumspringgreen;
    }

    .Psersonal_Record_list button a {
        color: black;
    }

    .Psersonal_Record_list button a:hover {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    /* 개인 전적 메인 설정*/
    .Psersonal_Record_list {
        margin-top: 80px;
        margin-bottom: 60px;
        height: 100%;
    }

    .Psersonal_Record_list button {
        width: 80px;
        height: 80px;
        border-radius: 120px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: seagreen;
        border: 0px;
        /* opacity: 0.6; */
    }

    .Psersonal_Record_list button:hover {
        background-color: rgba(247, 80, 51);
        box-shadow: -2px 2px 10px 10px mediumspringgreen;
    }

    .Psersonal_Record_list button a {
        color: black;
    }

    .Psersonal_Record_list button a:hover {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    /* 개인별 전적 설정*/
    .Personal_Record_title {
        border: 0px solid black;
        background-color: seagreen;
        padding: 10px;
        height: 120px;
    }

    .Personal_Record_title h1 {
        font-size: 40px;
    }

    .Personal_Record_title img {
        width: 300px;
    }

    .Personal_Record_User_Video iframe {
        width: 100%;
        height: 600px;
    }
    .map_record_info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 100px;
        width: 200px;
        font-size: 20px;
    }
    
    .map_record_info h3 {
        font-size: 20px;
    }

    .map_record_info ul ol {
        overflow-y: scroll;
        -ms-overflow-style: none;
        height: 170px;
    }
    .map_record_info ul ol li {
        list-style: none;
        margin-top: 20px;
        font-weight: bold;
    }
    .map_boxing {
        float: left;
        width: 33.1%;
    }

    .map_boxing .map_record_info {
        padding: 25px;
    }

    .map_boxing .map_record_info h3 {
        margin-top: 100px;
    }

    .league_depense_box {
        height: 1347px;
    }

    /*리그 다시보기 설정 */
    #list .league_list .League_schedule_title {
        height: 30px;
        width: 100%;
        background-color: seagreen;
        margin-bottom: 20px;
    }

    #list .league_list .League_view a{
        text-decoration: none;
        color: black;
    }

    #list .league_list .League_view a h2{
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #list .league_list .League_view .User_video iframe{
        width: 80%;
        height: 400px;
    }

}

    @media (min-width:1600px) {
       
        /*네비게이션 글자 크기 조절*/
        .navbar a {
            color: black;
            font-weight: bold;
            /* font-size: 100%; */
            font-size: 28px;
        }
        
        /* home body main img */
        #home_main_img {
            background-image: url("../Image/Home/body_img/home_main.jpg");
            background-position: center top;
            background-size: cover;
            height: 856px;
        }

        /*공지사항 레이아웃*/
        .notice {
                margin-top: 50px;
                height: 1245px;
                display: inline-block;
                text-align: center;
                width: 1600px;
        }

        #notice_space_1, #notice_space_2, #notice_space_3,#notice_space_4,#notice_space_5,#notice_space_6,#notice_space_7,#notice_space_8 {
            margin-top: 80px;
            width: 380px;
            height: 400px;
            float: left;
            border-radius: 20px;
            background-color: rgb(247, 80, 51,0.6);
            font-weight: bold;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-right: 20px;
            margin-bottom: 80px;
        }

        #notice_space_5 {
            margin-right: 0px;
        }

        /*공지사항 제목 */
        .notice_title {
            background-color: seagreen;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .notice_title h1{
            font-size: 40px;
        }

        /* 공지사항 내용*/
        .notice_content_list {
            height: 300px;
            margin-top: 20px;
            overflow-y: auto;
            text-decoration: underline;
        }
        
        .notice_content_list h3{
            font-size: 30px;
        }

        .notice_content_list li {
            list-style: none;
            margin-bottom: 20px;
            font-size: 26px;
        }

        .notice_content_list li img {
            width: 30%;
            height: 100px;
            margin-left: 10px;
            margin-right: 10px;
        }

        /* 친선리그 설정 */
        .legue_record_img {
            margin-left: 5px;
            margin-right: 5px;
            /* background-position: center center; */
            background-size: cover;
        }

        #eunha_1 {
            background-image: url("../Image/League_image/eunha_league.png");
            height: 200px;
        }
    
        #eunha_2 {
            background-image: url("../Image/League_image/eunha_league_2.png");
            height: 260px;
        }


        /* 토너먼트 설정 */
        .tournament_record_img_w_1 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_토너먼트대진표.png");
            background-position: center center;
            background-size: cover;
            height: 250px;
        }
        .tournament_record_img_w_2 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_tor2.png");
            background-position: center center;
            background-size: cover;
            height: 250px;
        }
        .tournament_record_img_w_3 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_tor4.png");
            /* background-position: center center; */
            background-size: cover;
            height: 270px;
        }

        /* 공지사항 상단 올리기 버튼 */
        .toTOP_NOTICE {
            display: none;
            margin-top: 7px;
            margin-right: 5px;
            position: absolute;
            padding: 10px;
            right: -40px;
            bottom: 10px;
            font-size: 16px;
            border-radius: 20px;
            color: black;
            background-color: #f5c194;
        }

        /* 맵 상단 올리기 버튼 */
        .toTOP_MAP {
            margin-top: 5px;
            margin-right: 5px;
            padding: 2px;
            float: right;
            font-size: 24px;
            border-radius: 10px;
            color: black;
            background-color: #f5c194;
        }

        /* 맵 선택자 */

        .map_selector {
            margin-top: 240px;
            width: 90%;
            height: 300px;
            margin-bottom: 60px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .map_selector a {
            border-radius: 5px;
            font-size: 32px;
            background-color: seagreen;
            color: white;
            margin: 10px;
            padding: 5px;
            float:left
        }

        .map_selector a:hover {
            background-color: rgba(247, 80, 51);
            opacity: 1;
            font-size: 32px;
        }

        /*맵 공통 설정 */

        .map_title {
            font-size: 42px;
            background-color: seagreen;
            font-weight: bold;
        }

        .map_record {
            margin-top: 20px;
            font-size: 20px;
        }

        .map_info_link {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .map_info_link a {
            border-radius: 10px;
            font-size: 32px;
            color: black;
            background-color: chocolate;
        }

        .map_info_link a:hover {
            background-color: coral;
        }

        /*맵별 설정*/
        .map_img_fighting_split {
            background-image: url("../Image/Map/fighting.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_polipoid {
            background-image: url("../Image/Map/polipoid.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_largo {
            background-image: url("../Image/Map/largo.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_accention {
            background-image: url("../Image/Map/accention.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }
        
        .map_img_rivolver {
            background-image: url("../Image/Map/rivolver.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_eclipse {
            background-image: url("../Image/Map/eclipse.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_goodnight {
            background-image: url("../Image/Map/goodnight.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_butter {
            background-image: url("../Image/Map/butter.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_allegro {
            background-image: url("../Image/Map/allegro.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_vermee {
            background-image: url("../Image/Map/vermee.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_Neo_arkanoid {
            background-image: url("../Image/Map/Neo_arkanoid.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_odyssey {
            background-image: url("../Image/Map/odyssey.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_nemesis {
            background-image: url("../Image/Map/nemesis.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_fallOut {
            background-image: url("../Image/Map/fallOut.png");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_frost {
            background-image: url("../Image/Map/frost.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        /* 개인 전적 메인 설정*/
        .Psersonal_Record_list {
                margin-top: 80px;
                margin-bottom: 60px;
                height: 100%;
            }
        
            .Psersonal_Record_list button {
                width: 80px;
                height: 80px;
                border-radius: 120px;
                margin-top: 40px;
                margin-left: 10px;
                margin-right: 10px;
                background-color: seagreen;
                border: 0px;
                /* opacity: 0.6; */
            }
        
            .Psersonal_Record_list button:hover {
                background-color: rgba(247, 80, 51);
                box-shadow: -2px 2px 10px 10px mediumspringgreen;
            }
        
            .Psersonal_Record_list button a {
                color: black;
            }
        
            .Psersonal_Record_list button a:hover {
                color: white;
                font-weight: bold;
                font-size: 20px;
            }
        
            /* 개인별 전적 설정*/
            .Personal_Record_title {
                border: 0px solid black;
                background-color: seagreen;
                padding: 10px;
                height: 140px;
            }

            .Personal_Record_title h1 {
                font-size: 46px;
            }

            .Personal_Record_title img {
                width: 350px;
            }

            .Personal_Record_User_Video iframe {
                width: 100%;
                height: 800px;
            }
            .map_record_info {
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 100px;
                width: 200px;
                font-size: 20px;
            }

            .map_record_info h3 {
                font-size: 20px;
            }
            
            .map_record_info ul ol {
                overflow-y: scroll;
                -ms-overflow-style: none;
                height: 170px;
            }
            .map_record_info ul ol li {
                list-style: none;
                margin-top: 20px;
                font-weight: bold;
            }
            .map_boxing {
                float: left;
                width: 24.85%;
            }
        
            .map_boxing .map_record_info {
                padding: 25px;
            }
        
            .map_boxing .map_record_info h3 {
                margin-top: 100px;
            }

            .league_depense_box {
                height: 967px;
            }
            
            /*리그 다시보기 설정 */
            #list .league_list .League_schedule_title {
                height: 30px;
                width: 100%;
                background-color: seagreen;
                margin-bottom: 20px;
            }

            #list .league_list .League_view a{
                text-decoration: none;
                color: black;
            }

            #list .league_list .League_view a h2{
                font-size: 28px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            #list .league_list .League_view .User_video iframe{
                width: 80%;
                height: 500px;
            }

        }
        
    }

    @media (min-width:1800px) {
       
        /*네비게이션 글자 크기 조절*/
        .navbar a {
            color: black;
            font-weight: bold;
            /* font-size: 100%; */
            font-size: 34px;
        }
        
        /* home body main img */
        #home_main_img {
            background-image: url("../Image/Home/body_img/home_main.jpg");
            background-position: center top;
            background-size: cover;
            height: 856px;
        }

        /*공지사항 레이아웃*/
        .notice {
            margin-top: 50px;
            height: 1245px;
            display: inline-block;
            text-align: center;
            width: 1600px;
    }

    #notice_space_1, #notice_space_2, #notice_space_3,#notice_space_4,#notice_space_5,#notice_space_6,#notice_space_7,#notice_space_8 {
        margin-top: 80px;
        width: 380px;
        height: 400px;
        float: left;
        border-radius: 20px;
        background-color: rgb(247, 80, 51,0.6);
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 20px;
        margin-bottom: 80px;
    }

    #notice_space_5 {
        margin-right: 0px;
    }

    /*공지사항 제목 */
    .notice_title {
        background-color: seagreen;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .notice_title h1{
        font-size: 40px;
    }

    /* 공지사항 내용*/
    .notice_content_list {
        height: 300px;
        margin-top: 20px;
        overflow-y: auto;
        text-decoration: underline;
    }
    
    .notice_content_list h3{
        font-size: 30px;
    }

    .notice_content_list li {
        list-style: none;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .notice_content_list li img {
        width: 35%;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

        /* 친선리그 설정 */
        .legue_record_img {
            margin-left: 5px;
            margin-right: 5px;
            /* background-position: center center; */
            background-size: cover;   
        }

        #eunha_1 {
            background-image: url("../Image/League_image/eunha_league.png");
            height: 200px;
        }
    
        #eunha_2 {
            background-image: url("../Image/League_image/eunha_league_2.png");
            height: 260px;
        }

        /* 토너먼트 설정 */
        .tournament_record_img_w_1 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_토너먼트대진표.png");
            background-position: center center;
            background-size: cover;
            height: 250px;
        }
        .tournament_record_img_w_2 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_tor2.png");
            background-position: center center;
            background-size: cover;
            height: 250px;
        }
        .tournament_record_img_w_3 {
            margin-left: 5px;
            margin-right: 5px;
            background-image: url("../Image/Tournament_image/W_tor4.png");
            /* background-position: center center; */
            background-size: cover;
            height: 270px;
        }

        /* 공지사항 상단 올리기 버튼 */
        .toTOP_NOTICE {
            display: none;
            margin-top: 7px;
            margin-right: 5px;
            position: absolute;
            padding: 10px;
            right: -40px;
            bottom: 10px;
            font-size: 16px;
            border-radius: 20px;
            color: black;
            background-color: #f5c194;
        }

        /* 맵 상단 올리기 버튼 */
        .toTOP_MAP {
            margin-top: 5px;
            margin-right: 5px;
            padding: 2px;
            float: right;
            font-size: 24px;
            border-radius: 10px;
            color: black;
            background-color: #f5c194;
        }

        /* 맵 선택자 */

        .map_selector {
            margin-top: 240px;
            width: 90%;
            height: 300px;
            margin-bottom: 60px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .map_selector a {
            border-radius: 5px;
            font-size: 32px;
            background-color: seagreen;
            color: white;
            margin: 10px;
            padding: 5px;
            float:left
        }

        .map_selector a:hover {
            background-color: rgba(247, 80, 51);
            opacity: 1;
            font-size: 32px;
        }

        /*맵 공통 설정 */

        .map_title {
            font-size: 42px;
            background-color: seagreen;
            font-weight: bold;
        }

        .map_record {
            margin-top: 20px;
            font-size: 20px;
        }

        .map_info_link {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .map_info_link a {
            border-radius: 10px;
            font-size: 32px;
            color: black;
            background-color: chocolate;
        }

        .map_info_link a:hover {
            background-color: coral;
        }

        /*맵별 설정*/
        .map_img_fighting_split {
            background-image: url("../Image/Map/fighting.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_polipoid {
            background-image: url("../Image/Map/polipoid.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_largo {
            background-image: url("../Image/Map/largo.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_accention {
            background-image: url("../Image/Map/accention.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }
        
        .map_img_rivolver {
            background-image: url("../Image/Map/rivolver.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_eclipse {
            background-image: url("../Image/Map/eclipse.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_goodnight {
            background-image: url("../Image/Map/goodnight.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_butter {
            background-image: url("../Image/Map/butter.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_allegro {
            background-image: url("../Image/Map/allegro.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_vermee {
            background-image: url("../Image/Map/vermee.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_Neo_arkanoid {
            background-image: url("../Image/Map/Neo_arkanoid.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_odyssey {
            background-image: url("../Image/Map/odyssey.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_nemesis {
            background-image: url("../Image/Map/nemesis.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_fallOut {
            background-image: url("../Image/Map/fallOut.png");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        .map_img_frost {
            background-image: url("../Image/Map/frost.jpg");
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 400px;
        }

        /* 개인 전적 메인 설정*/
        .Psersonal_Record_list {
                margin-top: 80px;
                margin-bottom: 60px;
                height: 100%;
            }
        
            .Psersonal_Record_list button {
                width: 80px;
                height: 80px;
                border-radius: 120px;
                margin-top: 40px;
                margin-left: 10px;
                margin-right: 10px;
                background-color: seagreen;
                border: 0px;
                /* opacity: 0.6; */
            }
        
            .Psersonal_Record_list button:hover {
                background-color: rgba(247, 80, 51);
                box-shadow: -2px 2px 10px 10px mediumspringgreen;
            }
        
            .Psersonal_Record_list button a {
                color: black;
            }
        
            .Psersonal_Record_list button a:hover {
                color: white;
                font-weight: bold;
                font-size: 20px;
            }
        
            /* 개인별 전적 설정*/
            .Personal_Record_title {
                border: 0px solid black;
                background-color: seagreen;
                padding: 10px;
                height: 140px;
            }

            .Personal_Record_title h1 {
                font-size: 46px;
            }

            .Personal_Record_title img {
                width: 350px;
            }

            .Personal_Record_User_Video iframe {
                width: 100%;
                height: 800px;
            }
            .map_record_info {
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 100px;
                width: 200px;
                font-size: 20px;
            }

            .map_record_info h3 {
                font-size: 20px;
            }
            
            .map_record_info ul ol {
                overflow-y: scroll;
                -ms-overflow-style: none;
                height: 170px;
            }
            .map_record_info ul ol li {
                list-style: none;
                margin-top: 20px;
                font-weight: bold;
            }
            .map_boxing {
                float: left;
                width: 24.85%;
            }
        
            .map_boxing .map_record_info {
                padding: 25px;
            }
        
            .map_boxing .map_record_info h3 {
                margin-top: 100px;
            }

            .league_depense_box {
                height: 967px;
            }
            
            /*리그 다시보기 설정 */
            #list .league_list .League_schedule_title {
                height: 30px;
                width: 100%;
                background-color: seagreen;
                margin-bottom: 20px;
            }

            #list .league_list .League_view a{
                text-decoration: none;
                color: black;
            }

            #list .league_list .League_view a h2{
                font-size: 28px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            #list .league_list .League_view .User_video iframe{
                width: 80%;
                height: 500px;
            }

        }
    }